h1, h2, body, p, img {
    box-sizing: border-box;
    animation-name: flick;
    animation-duration: 1337s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
body {
    background-color: #C6C6C6;
    color: #524a3d;
    font-family: 'blockzone', Monospace, Arial, sans-serif;
    font-size: 105%;
    line-height: 120%;
}
h1, h2 {
    margin-bottom: 10px;
    color: #50d71f;
    text-shadow: 2px 2px 2px #428838;
}
h2::after {
    content: "_";
}
a, a:link, a:visited {
    color: #49902f;
}
a:hover {
    background-color: #98b1a5;
    color: #111;
    cursor: pointer;
    text-decoration: none;
}
abbr {
    border-bottom: 1px dashed #00FF5F;
    cursor: help;
}
ul {
    list-style-type: square;
}
img {
    max-width: 100%;
    max-height: 250px;
}
hr {
    background-color: #777;
    border: none;
    height: 2px;
    margin: 5px 2px;
}   
.comics img {
    max-height: 100%;
}
table {
    font-size: 90%;
    border-collapse: collapse;
}
td {
    vertical-align: top;
    border: 1px solid #333;
    padding: 3px;
}
iframe {
    width: 100%;
}
.center {
    text-align: center;
    margin: 10px auto;
}
.container img {
    max-width: 32%;
}
#main {
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
}
#post {
    max-width: 640px;
    margin: 0px auto;
}
#background {
    margin-top: 20px;
}
.viernullvier, .viernullvier h1 {
    font-size: 250%;
    line-height: 150%;
}
.twitter-tweet {
    font-size: 90%;
}
.column {
    column-count: 2;
}
.tile {
    padding: 20px;
    margin: 10px 5px;
}
.title li {
    font-size: 90%;
}
pre, code {
    line-height: 120%;
    white-space: pre-wrap;
    font-size: 95%;
}
@media (max-width: 800px) {
    .column {
        column-count: 1;
    }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #282a36;
        color: #e6e0d8;
    }
}
@keyframes flick {
    0% {}
    50% {
        filter: hue-rotate(45deg);
    }
    100% {}
}
@font-face {
  font-family: 'blockzone';
  src: url('/blockzone-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
